[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "==1.4.1"
dask = "*"
networkx = "*"
pygraphviz = {version = "*", sys_platform = "!= 'win32'"}
pytimedinput = "*"
"snowflake-connector-python[pandas]" = "*"
tqdm = "*"
pyodbc = "*"
sqlalchemy = "*"
pydot = "*"
matplotlib = "*"
ortools = "*"
scikit-learn = "*"
snowflake-sqlalchemy = "*"
cvxpy = "*"
scipy = "*"
grpcio = "*"
grpcio-tools = "*"
dvc = {extras = ["azure"], version = "==2.9.3"}
xgboost = "==1.6.1"
psycopg2-binary = "*"
visidata = "*"

[dev-packages]
ipython = "*"
black = "*"
pylint = "*"
pytest = "*"
mypy = "*"
types-pyyaml = "*"
git-pylint-commit-hook = "*"
pytest-cov = "*"
seaborn = "*"
reorder-python-imports = "*"
pipenv = "*"
build = "*"
isort = "*"

[requires]
python_version = "3.8"
